.benefit-section {
  background-color: $main-color;
  //height: 280px;
  padding: 60px 0;

  &__container {
    @extend %container;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    margin-bottom: 30px;
  }

  &__title {
    @include text-style(1.8rem, 600, $white-color);
    line-height: 21.5px;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(1.4rem, 400, $white-color);
    line-height: 16px;
  }

  @include respond(tab-land) {
    padding-bottom: 20px;

    &__list {
      justify-content: space-around;
    }
    &__item {
      max-width: 260px;
      margin-bottom: 40px;
    }
  }

  @include respond(phone) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 40px;
    }

    &__item {
      max-width: unset;
      align-items: flex-start;
      text-align: left;
    }

    &__icon {
      margin-bottom: 16px;
    }

    &__title {
      font-size: 1.4rem;
      line-height: 16.7px;
      white-space: nowrap;
    }

    &__subtitle {
      font-size: 1.2rem;
      line-height: 14px;
    }
  }
}
