.footer {
  padding: 60px 0 45px;
  background-image: url("~/assets/img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    @extend %container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    cursor: pointer;
    border-bottom: none !important;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    svg {
      margin-right: 12px;
    }

    p {
      @include text-style(1.4rem, 600, $white-color);
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__contact-box {
    display: flex;
    align-items: center;
    @include text-style(1.8rem, 600, $white-color);

    svg {
      margin-right: 8px;
    }
  }
}
