.header {
  height: 72px;
  background-color: $main-color;
  position: relative;

  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
      border-bottom: none !important;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    @include text-style(1.6rem, 700, $white-color);
    display: block;
    padding: 0 5px 6px 5px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $accent-color;
    }

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link:link,
  &__link:visited {
    color: $white-color;
  }

  &__phone-box {
    display: flex;
    align-items: center;
    @include text-style(1.6rem, 600, $white-color);

    svg {
      margin-right: 10px;
    }
  }

  &__sidebar {
    display: none;
  }

  &__burger {
    display: none;
  }

  @include respond(phone) {
    &__links {
      display: none;
    }

    &__phone-box {
      display: none;
    }

    &__burger {
      display: block;
    }

    &__sidebar {
      display: block;
    }
  }
}

.active_link, .exact_active_link {
  border-bottom: 3px solid $accent-color;

  @include respond(phone) {
    border-bottom: none;
    border-bottom: 2px solid $text-color;
    font-weight: 700 !important;
  }
}
