.main {
  padding-bottom: 140px;

  &__section {
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  @include respond(phone) {
    padding-bottom: 80px;

    &__section {
      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
  }
}
