.mission-card {
  width: 360px;
  height: 335px;
  box-shadow: 0 0 30px rgba(175, 175, 175, 0.27);
  border-radius: 10px;
  padding: 20px;

  &__icon {
    display: block;
    margin: 0 auto 20px;
  }

  &__title {
    @include text-style(1.8rem, 600, $text-color);
    line-height: 21.5px;
    margin-bottom: 20px;
  }

  &__list {

    li {
      @include text-style(1.4rem, 400, $text-color);
      line-height: 16.5px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  @include respond(phone) {
    width: 100%;
    height: unset;
    padding: 20px 10px;

    &__title {
      font-size: 1.4rem;
      line-height: 16.7px;
      margin-bottom: 12px;
    }
  }
}
