.service-slider {


  &__inner {
    width: 1160px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(175, 175, 175, 0.27);

    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }

  &__img {
    width: 590px;
    height: 412px;
    border-radius: 10px;
    margin-right: 40px;
    flex-shrink: 0;
  }

  &__info {

  }

  &__title {
    @include text-style(2.4rem, 700, $accent-color);
    line-height: 29px;
    margin-bottom: 16px;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 8px;

    li {
      @include text-style(1.8rem, 400, $text-color);
      line-height: 21px;
    }
  }
}
