.works-card {

  display: flex;
  align-items: center;


  &__images {
    position: relative;
    flex-shrink: 0;
    margin-right: 60px;
  }

  &__img-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
  }

  &__img {
    flex-shrink: 0;
    flex-grow: 0;

    &:first-child {
      border-right: .5px solid #A0B4C3;
    }
  }

  &__badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 43px;
    border-radius: 10px;
    background-color: $accent-color;
    top: 293px;
    left: 75px;
    z-index: 10;

    @include text-style(1.8rem, 600, $white-color);

    &--blue {
      background-color: $main-color;
      left: 346px;
    }
  }

  &__info {

  }

  &__name {
    @include text-style(2.4rem, 400, $text-color);
    margin-bottom: 10px;
  }

  &__type {
    @include text-style(1.8rem, 400, $main-color);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
  }

  &__text {
    @include text-style(1.8rem, 400, $text-color);
    line-height: 21px;
  }

  @include respond(tab-land) {
    flex-direction: column;

    &__images {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  @include respond(phone) {
    &__img {
      width: 171.5px;
    }

    &__badge {
      width: 100px;
      height: 30px;
      top: 180px;
      left: 38px;

      font-size: 1.4rem;

      &--blue {
        left: 560px;
      }
    }

    &__name {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }

    &__type {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 16px;
    }
  }
}
