.works-section {

  &__container {
    @extend %container;
  }

  &__heading {
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    @include text-style(1.6rem, 400, $grey-color);
    line-height: 19px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__wrapper {
    position: relative;
  }

  &__swiper-container {
    padding-bottom: 72px;
    padding-top: 20px;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .products-slider__pagination {
    bottom: 0;
  }

  &__pagination {
    width: 100%;
    bottom: 0;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $accent-color;
      opacity: .3;
      margin: 0 5px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  &__next,
  &__prev {
    position: absolute;
    background-image: url("~/assets/img/icons/slider-next.svg");
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 42%;
    cursor: pointer;
  }

  &__next {
    left: calc(100% + 40px);
  }

  &__prev {
    right: calc(100% + 40px);
    transform: rotate(180deg);
  }

  @include respond(phone) {
    &__heading {
      margin-bottom: 20px;
      text-align: left;
      color: $accent-color;
    }

    &__subtitle {
      font-size: 1.4rem;
      line-height: 16.5px;
      text-align: left;
      margin-bottom: 40px;
    }

    &__swiper-container {
      padding-bottom: 50px;
      padding-top: 0;
    }
  }
}
