.heading-medium {
  @include text-style(4.8rem, 600, $accent-color);
  line-height: 57px;

  @include respond(phone) {
    font-size: 3rem;
    line-height: 35px;
  }
}

.heading-blue {
  @include text-style(3.6rem, 600, $main-color);
  line-height: 43px;
}
