@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";
@import "abstracts/animations";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/welcome-section";
@import "blocks/button";
@import "blocks/services-section";
@import "blocks/service-card";
@import "blocks/team-section";
@import "blocks/team-card";
@import "blocks/about-section";
@import "blocks/benefit-section";
@import "blocks/works-section";
@import "blocks/works-card";
@import "blocks/contact-section";
@import "blocks/footer";
@import "blocks/about-page";
@import "blocks/our-mission";
@import "blocks/mission-card";
@import "blocks/our-services";
@import "blocks/service-slider";
@import "blocks/our-gallery";
@import "blocks/specialist-page";
@import "blocks/service-page";

html, body {
  font-size: 62.5%;
  font-family: $base-font;
  //scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

// swiper styles

